$bgImage: url(../img/m-h-night.jpg);
$bg: rgb(33, 35, 46);
$sectionBg: rgb(59, 63, 80);
$txt: white;
$btnColor: rgb(227, 172, 0);
$blue:rgb(147, 45, 83);
$borderRadius:4px;
$grayText:rgb(187, 190, 201);
$rectangle: rgb(255, 78, 51);
$fresca: 'Fresca',
sans-serif;
$title:'Source Sans Pro',
sans-serif;
$map:( titles: $title, text: $fresca);