$bgImage: url(../img/m-h-day.jpg);
$bg: white;
$sectionBg: rgb(33, 35, 46);
$txt: rgb(44, 47, 60);
$btnColor: rgb(105, 153, 0);
$blue:rgb(44, 90, 218);
$borderRadius:4px;
$grayText:rgb(187, 190, 201);
$rectangle: rgb(20, 160, 199);
$title:'Source Sans Pro',
sans-serif;
$hind:'Hind',
sans-serif;
$map:( titles: $title, text: $hind);